.sidenav{
    width: 200px;
    height: 100vh;
    background-color: #5762f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 10px;
    cursor: pointer;
}

.side-menu{
    color: rgb(241, 235, 235)
}