.sidenav{
    width: 200px;
    height: 100vh;
    background-color: #afa9a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 10px;
    cursor: pointer;
}

.side-menu{
    color: rgb(126, 19, 19)
}